
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Contact Page</title>
</head>
<body>

    <p>@InjectTimeService.GetData()<p>

    <p>
        [ <a href="/Home/About">About</a> ]
        [ Contact ]
        [ <a href="/Home/Feedback">Feedback</a> ]
        [ <a href="/Home/Index">Index</a> ]

    </p>

</body>
</html>