
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Feedback Page</title>
</head>
<body>

    @*
        @{
            Car car = new Car() { CarMark = "Audi", CarModel = "Q8", CarEngine = 2 };
        }
    *@
    <p>@InjectTimeService.GetData()<p>

    <p>
        [ <a href="/Home/About">About</a> ]
        [ <a href="/Home/Contact">Contact</a> ]
        [ Feedback ]
        [ <a href="/Home/Index">Index</a> ]

    </p>

</body>
</html>