<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewData["title"]</title>
</head>
<body>
    <p>
        <b>@ViewData["data"]</b>
    </p>
    <p>
        [ About ]
        [ <a href="/Home/Contact">Contact</a> ]
        [ <a href="/Home/Feedback">Feedback</a> ]
        [ <a href="/Home/Index">Index</a> ]

    </p>

</body>
</html>