 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
</head>
<body>

   <p>
       <b>@ViewBag.Data</b>
   </p>
    <p>
        [ <a href="/Home/About">About</a> ]
        [ <a href="/Home/Contact">Contact</a> ]
        [ Feedback ]
        [ <a href="/Home/Index">Index</a> ]

    </p>

</body>
</html>