 @model Worker

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Index Page</title>
</head>
<body>

    <p>
        <ul>
            <li>Name: @Model.Name</li>
            <li>Company: @Model.Company</li>
            <li>Age: @Model.Age</li>
            <li>Salary: @Model.Salary</li>
        </ul>
    </p>
    <p>
        [ <a href="/Home/About">About</a> ]
        [ <a href="/Home/Contact">Contact</a> ]
        [ <a href="/Home/Feedback">Feedback</a> ]
        [ Index ]

    </p>

</body>
</html>