<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <div>
        [ <a href="/Home/About">About</a>  ]
        [ <a href="/Home/Contact">Contact</a> ]
        [ <a href="/Home/Feedback">Feedback</a> ]
        [ <a href="/Home/Index">Index</a> ]
        [ <a href="/Home/NewLayout">NewLayout</a> ]
        [ <a href="/Home/Integration">Integration</a> ]
    </div>
</body>
</html>
