@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}
@model Worker

<p>
    <ul>
        <li>Name: @Model.Name</li>
        <li>Company: @Model.Company</li>
        <li>Age: @Model.Age</li>
        <li>Salary: @Model.Salary</li>
    </ul>
</p>
